gradio==3.23.0
librosa==0.10.0
numpy==1.23.5
pretty_midi==0.2.10
demucs==4.0.0
moviepy==1.0.3
#pytube==15.0.0
japanize_matplotlib==1.1.3
beautifulsoup4

# for magenta
tensorflow
keras
absl-py
dm-sonnet
imageio
matplotlib
mido
mir_eval
note-seq
numba
Pillow
pygtrie
python-rtmidi
scikit-image
scipy
six
sk-video
sox
tensorflow-datasets
tensorflow-probability
tf_slim
wheel
